
  .shapeshifter {
    animation-duration: 2000ms;
    animation-timing-function: steps(30);
    width: 1440px;
    height: 1000px;
    position: absolute;
    z-index: -1;
    left: 40%;
    background-repeat: no-repeat;
    background-image: url('../images/Hero.svg');
    animation-iteration-count: infinite;
    animation-name: play30;
  }


  @keyframes play30 {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -43200px 0px;
    }
  }

.S-PhotoandBlog {
    background-color: #f5f5f5;    
}

.S-Contact {
    background-color: #e0e0e0;
    height: 50vh;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CenterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.JustifyContainer {
    justify-content: center;
}

.Hero {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.TextContainer {
    width: 50%;
    
}


.Background {
    position: relative;
    width: 100%
}


.HomeContent {
    display: grid;
    grid-template-columns: 50% 50%;
}

.MainIcon {
    margin-right: 15px;
}

.IconContainer {
    float: left;

}

.S-SocialBar {
    width: 100%;
    height: 100%;
    background-color: #4E5B69;
}

.S-Footer {
    background-color: #444F5B;
}

.FooterWrapper small {
    color: #BDBFC2;
}

.FooterWrapper p {
    font-size: 80%;
    margin-bottom: 0;
}
    
.FooterWrapper a {
    text-decoration: underline;
    color: white;
}


.fab {
    color:white;
}


@media (max-width: 560px) {
    .HomeContent {
        grid-template-columns: repeat(1, auto);
    }
    .TextContainer {
        width: 100%;
        text-align: center;
    }
    .shapeshifter {
        left: auto;
        opacity: 0.2;
        transform: scale(0.5,0.5);
    }
    .Hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Blog h1 {
        font-size: 36px;
        line-height: 2.5rem;
    }
}

@media (min-width: 560px) 
  and (max-width: 720px) {
    .TextContainer {
        width: 75%;
    }
  }