.Hero {
    background-color: rosybrown;
}


.HomeContent {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.MainIcon {
    margin-right: 15px;
}

.IconContainer {
    float: left;

}

.S-SocialBar {
    width: 100%;
    height: 100px;
    background-color: #4E5B69;
}

.SocialBarWrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.BrandBar {
    font-size: 36px;
    color: #BDBFC2;
}

@media (max-width: 640px) {
    .HomeContent {
        grid-template-columns: repeat(1, auto);
    }
}
