.S-Footer {
    background-color: #444F5B;
}

.FooterWrapper small {
    color: #BDBFC2;
}

.FooterWrapper p {
    font-size: 80%;
    margin-bottom: -5rem;
}
    
.FooterWrapper a {
    text-decoration: underline;
    color: white;
}