.Header {
    width: 100%;
    max-width: 1280px;
    padding: 2rem 1rem;
    margin: 0 auto;
    z-index: 689;
}

.HeaderGroup {
    display: block;
    width: 100%;

}
.NavBar {
    float: right;
}

.NavBar a:not(:last-child) {
    margin-right: 20px;
}
.Logo {
    display: inline-block;
}

.NavBarIcon {
    display: inline-block;
}

.Header .NavBarIcon a { 
    color: #65678e;
}

@media (max-width: 800px) {
    p {
        font-size: 16px;
    }
}